body {
    background-color: black;
    margin: 0;
    color: white;
}

@font-face {
    font-family: Heading;
    src: url('/assets/fonts/outer-sand-bold.otf');
}

@font-face {
    font-family: body;
    src: url('./assets/fonts/outer-sans-thin.otf');
}

h1 {
    font-family: Heading;
    font-size: 73px;
    line-height: 70px;
    margin: 5px
}

h2 {
    font-family: Heading;
    font-size: 42px;
    line-height: 54px;
    margin: 5px
}

p {
    font-family: body;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}

.red-text {
    color: #D32F27
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.hero-text {
    margin-top: 5vw;
    z-index: 100;
}

.logo {
    margin: 0 auto;
    height: 5vw;
    width: 5vw;
    min-width: 40px;
    min-height: 40px;
    background-image: url('./assets/images/logo-white.png');
    background-position: center 0%;
    background-size: 60%;
    background-repeat: no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.movie-and-quote {
    display: flex;
    align-items: center;
    margin: 0 15vw;
    margin-bottom: 10vw
}

.movie-and-quote:nth-child(even) {
    flex-flow: row-reverse;
}

.movie-video {
    background-color: gray;
    width: 500px;
    height: 500px;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    flex-shrink: 0;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    animation: wave 10s ease-in-out infinite;
}

.fixed {
    position: fixed;
    width: 250px;
    height: 250px;
    transition: all 500ms ease-in-out;
}

.fixed.center {
    border-radius: 52% 40% 48% 51% / 69% 53% 45% 39%;
    top: 5%;
    animation: movementone 100s ease-in-out infinite;
    background-image: url('https://media.giphy.com/media/UJritU1m8L6ycoFQQ6/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixed.left {
    border-radius: 56% 43% 40% 57% / 61% 53% 44% 43%;
    left: -50px;
    bottom: 40%;
    animation: movementtwo 50s ease-in-out infinite;
    background-image: url('https://media.giphy.com/media/9S86TxTHwlVZGBwVy7/giphy.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixed.right {
    border-radius: 51% 47% 42% 56% / 62% 58% 52% 47%;
    right: 10px;
    bottom: 15px;
    animation: movementthree 50s ease-in-out 0.4s infinite;
    background-image: url('https://media.giphy.com/media/39yLSy1yfJDJDBoLlo/giphy.gif');
    background-position: center;
    background-size: 280%;
    background-repeat: no-repeat;
}

@keyframes movementone {
    0% {
        transform: translateX(400px)
    }
    20% {
        transform: translateY(100px);
    }
    40% {
        transform: translateX(-150px);
    }
    60% {
        transform: translateY(-40px);
    }
    80% {
        transform: translateX(40px)
    }
}

@keyframes movementtwo {
    0% {
        transform: translate(-120px)
    }
    20% {
        transform: translateY(100px);
    }
    40% {
        transform: translateX(4px);
    }
    60% {
        transform: translateY(-20px);
    }
    80% {
        transform: translateX(-120px)
    }
}

@keyframes movementthree {
    0% {
        transform: translateY(-60px)
    }
    20% {
        transform: translateX(-30px);
    }
    40% {
        transform: translateX(20px);
    }
    60% {
        transform: translateY(-100px);
    }
    80% {
        transform: translateY(-60px)
    }
}

.fixed>video {
    opacity: 1;
}


/* .movie-video:hover {
    animation: wave 10s ease-in-out infinite;
} */

video {
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.movie-video:hover>video {
    opacity: 1;
}

@keyframes wave {
    20% {
        border-radius: 45% 55% 62% 34% / 53% 51% 49% 47%
    }
    40% {
        border-radius: 46% 57% 52% 44% / 53% 53% 43% 57%
    }
    60% {
        border-radius: 45% 55% 49% 51% / 56% 47% 51% 46%
    }
    80% {
        border-radius: 45% 52% 46% 56% / 55% 51% 43% 45%
    }
}

.movie-quote {
    margin-left: -100px;
    z-index: 100;
    width: 570px
}

.movie-quote:nth-child(even) {
    margin-right: -100px
}